[Desktop Entry]
Version=1.0
Type=Link
Name=Simulator Solution
Comment=
Icon=window-new
URL=https://killer.sh/session/solution/16bef0a4-9635-4787-81c3-3da03adb300f
